<html>
    <head>


    </head>
    <body>
        <img src="/static/logo.png" alt="LOGO"  width="200">
        <nav>
            <a href="/about">About</a>

            
        </nav>
        
        <form action="/predict" method="post">
            area : <input type="text" name="area"> <br>
            bedrooms : <input type="text" name="bedrooms"><br>
            bathrooms:  <input type="text" name="bathrooms"><br>
            stories:  <input type="text" name="stories"><br>
            <input type="submit" value="Predict">
        </form>
    </body>
</html>